@use "../variables" as *;
.footer{
  background-color: $colThird;
  color: $fontColor;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  padding-block: 0.5rem;
  &__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__brand{
      display: flex;
      align-items: center;
      padding-inline: 0.5rem;
      overflow-x: hidden;
      img{
        width: 2rem;
        padding: 2px;
        filter: drop-shadow(0 100px 0 white);
        transform: translateY(-100px);
      }
    }
  }
}