@use "../variables" as *;
@use "../mixin" as *;
@media screen and (min-width: 540px) {
  .slider {
    &__title>h2{
      font-size: 2rem;
    }
  }
  .serviceInfo{
    padding-inline: 5%;
    &__container {
      flex-direction: row;
      &__card{
        padding: 0 0 0 0.5rem;
        &__info>h3{
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (min-width: 780px){
  .header__navigation{
    &__logo{
      font-size: 2rem;
    }
    &__menu{
      button img{
        height: 2.5rem;
      }
    }
  }
  .slider {
    &__title>h2{
      font-size: 3rem;
    }
    &__btns img {
      width: 3.5rem !important;
    }
  }
  .serviceInfo{
    padding: 5%;
    &__container{
      &__card{
        &__info>h3{
          font-size: 1.2rem;
        }
        padding: 1rem 0 1rem 1rem;
        box-shadow: -5px 0 10px -5px rgba(0, 0, 0, .5);
      }
    }
  }
}
@media screen and (min-width: 950px){
  .header__navigation{
    &__logo{
      font-size: 3rem;
    }
    &__menu{
      button img{
        height: 3rem;
      }
    }
  }
  .slider {
    &__title>h2{
      font-size: 4rem;
    }
    &__explore button{
      font-size: 2rem;
    }
  }
  .serviceInfo{
    &__container{
      justify-content: space-around;
      &__card__info{
        h3{
          font-size: 1.5rem;
        }
        p{
          font-size: 1.2rem;
        }
      }
    }
  }
  .footer{
    justify-content: end;
    &__box{
      font-size: 1rem;
      flex-direction: row;
      flex-basis: 60%;
      justify-content: space-between;
    }
  }
}
@media screen and (min-width: 1200px){
  .header{
    &__info{
      color: $fontColor;
      padding-block: 0.5rem;
      height: auto;
      &__box{
        flex-basis: 40%;
        display: flex;
        justify-content: space-between;
      }
      &__social{
        display: flex;
        flex-basis: 20%;
        ul{
          display: flex;
          flex-grow: 1;
          justify-content: space-evenly;
          img{
            width: 1.5rem;
          }
        }
      }
    }
    &__navigation{
      padding-block: 0;
      &__navbar{
        display: block;
        flex-grow: 2;
        margin-block: auto;
        ul{
          display: flex;
          justify-content: space-evenly;
          font-size: 1.5rem;
        }
      }
      &__btn{
        display: block;
        margin-block: auto;
        button{
          display: flex;
          align-items: center;
          @include btnStyle;
          img{
            width: 2rem;
          }
        }
      }
      &__menu{
       display: none; 
      }
    }
  }
  .serviceInfo__container__card{
    &__img{
      width: 3rem;
    }
  }
}