@use "../variables" as *;
@use "../mixin" as *;
.slider {
  min-height: 80vh;
  background: linear-gradient(
      changeOp($colPrimary, 0.3),
      changeOp($colPrimary, 0.3)
    ),
    url("../assets/carousel-1.jpg");
  background-position: center;
  background-size: cover;

  display: grid;
  position: relative;
  &__title{
    color: $fontColor;
    place-self: center;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
  }
  &__btns {
    position: absolute;
    top: 50%;
    width: 100%;
    padding-inline: 5%;
    display: flex;
    justify-content: space-between;
    button {
      background: linear-gradient(
        changeOp($colPrimary, 0.5),
        changeOp($colPrimary, 0.5)
      );
      border-radius: 50%;
      img {
        width: 2rem;
      }
    }
  }
  &__explore{
    place-self: center;
    button{
      @include btnStyle;
    }
  }
}
