@media screen and (min-width:600px){
  .projects{
    h2{
      font-size: 4rem;
    }
    &__container__card{
      grid-column: span 3;
    }
  }
}
@media screen and (min-width:1000px){
  .projects{
    h2{
      font-size: 5rem;
    }
    &__container__card{
      grid-column: span 2;
    }
  }
}