@use "../variables" as *;
@use "../mixin" as *;

.info{
  background-color: $colSecondary;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  &>*{
    grid-column: span 4;
    padding: 5%;
    color: $fontColor;
    h3{
      font-size: 1.5rem;
      font-weight: bolder;
      text-align: center;
      margin-bottom: 1rem;
    }
  }
  &__cardUbication{
    display: grid;
    grid-template-columns: 2rem 1fr;
    gap: 0.5rem;
    h3{
      grid-column: span 2;
      place-self: center;
    }
    &>a{
      @include transitionAnimate(0.3s);
      &:hover{
        transform: translateY(-5px);
        color: $colPrimary;
      }
    }
    &__social{
      display: flex;
      grid-column: span 2;
      justify-content: space-evenly;
      a{
        overflow: hidden;
        border-radius: 50%;
        padding: 0.25rem;
        aspect-ratio: 1;
        @include transitionAnimate(0.3s);
        img{ width: 2rem; }
        &:hover{
          background-color: changeOp(white, 0.7);
          img{
            @include changeColorPng($colPrimary)
          }
        }
      }
    }
  }
  &__cardService, &__cardNav{
    ul>li{
      margin-bottom: 0.5rem;
      @include transitionAnimate(0.3s);
      &:hover{
        transform: translateY(-5px);
        color: $colPrimary;
      }
    }
  }
  &__cardNews{
    p{
      text-align: justify;
      margin-bottom: 1rem;
    }
    form{
      background-color: $fontColor;
      border-radius: 0.5rem;
      display: flex;
      input{
        flex-grow: 2;
        padding-left: 1rem;
        color: $colThird;
        &::placeholder{
          color: $colThird;
          opacity: 0.7;
        }
      }
      button{
        @include btnStyle;
      }
    }
  }
}